* {
  font-family: "Oswald", sans-serif;
}
.header {
  height: 10vh;
  background-color: #444a5a;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: white;
  font-weight: 600;
}
.pageContent {
  position: relative;
  top: 10vh;
}
.search-container {
  background-color: #55f1a0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.search-bar {
  width: 50%;
}

.recipes-container {
  min-height: 60vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  background-color: #f4f9fc;
}
.card-container {
  box-shadow: 3px 10px 15px -3px rgba(153, 153, 153, 1);

  background-color: white;
  border-radius: 8px;
  padding: 10px;
  width: 30vw;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  border-radius: 50%;
  overflow: hidden;
}
.recipe-infos {
  display: flex;
  margin-top: 6px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}
.recipe-title {
  flex: 1;
  padding-left: 10px;
}
.recipe-calories {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 10px;
}
hr {
  width: 100%;
}
.ingeredients {
  width: 90%;
}

h3 {
  color: grey;
}

@media screen and (max-width: 1000px) {
  .card-container {
    width: 48vw;
  }
}
@media screen and (max-width: 800px) {
  .card-container {
    width: 80vw;
  }
}
